@font-face {
    font-family: fontGenshin;
    src: url("Font/GenshinFont/ja-jp.ttf");
}
  
@font-face {
    font-family: tahoma;
    src: url("Font/TahomaFont/TAHOMA_0.TTF");
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

/* navbar */
.navigation-bar {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 0.3vh 7vw;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
  
.navbar-left .logo img {
    width: 100%;
}
  
.navbar-left {
    display: flex;
    gap: 3vw;
    align-items: center;
}
  
.menu {
    display: flex;
    gap: 11vh;
}
  
.navbar-left .menu a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: all 300ms;
}
  
.menu a:hover {
    border-top: 0.2vw solid cyan;
    border-bottom: 0 solid transparent;
    opacity: 100%;
    transition: 300ms;
    text-shadow: 0px 0px 13px cyan;
}
  
.navbar-right {
    color: white;
}
  
.navbar-right a {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Tahoma;
    gap: 1.5vw;
}
  
.navbar-right a:hover {
    color: gray;
    transition: 100ms;
}
  
.login a {
    display: flex;
    text-decoration: none;
}
.login a i {
    font-size: 2.7rem;
}

.explore::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
}
  
.explore{
    background-image: url("assets/Explore/773390079.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.explore-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 2;
    row-gap: 0.3vw;
    margin-bottom: 12vw;
}
  
.explore-title h1{
    color:white;
    font-family: Tahoma;
    font-size: 4.7rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
  
}
  
.explore-title img{
    width: 25%;
  
}
  
.explore-description{
    width: 65%;
    height: auto;
  
    color: white;
    font-family: Tahoma;
    font-size: 1.3rem;
    text-align: center;
    word-spacing: 0.2rem;
    
}
  
.explore-region{
    display: flex;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-top: 2vw;
    position: absolute;
    bottom: 20%;
}
  
.map a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 300ms;
}
  
.map a:hover{
    opacity: 50%;
    transition: 300ms;
}
  
.explore-region img{
    width: 65%;
    
}
  
.explore-region h2{
    font-family: Tahoma;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-weight: lighter;
    
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 2;
    row-gap: 0.3vw;
}
  
.title h2{
    color:white;
    font-family: Tahoma;
    font-size: 4.7rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    
}
  
.title img{
    width: 25%;
    
}
  
.description{
    width: 65%;
    height: auto;
    
    color: white;
    font-family: Tahoma;
    font-size: 1.3rem;
    text-align: center;
    word-spacing: 0.2rem;
    
}

.inazuma::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5%);
    background-color: rgba(0, 0, 0, 0.2);
}

.inazuma{
    background-image: url("assets/Explore/2021071920203256336.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
}

.inazuma-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 2;
    row-gap: 0.3vw;
    margin-bottom: 12vw;
}

.inazuma-title h2{
    color:white;
    font-family: Tahoma;
    font-size: 4.7rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
  
}

.inazuma-title img{
    width: 25%;
  
}

.inazuma-description{
    width: 65%;
    height: auto;
    
    color: white;
    font-family: Tahoma;
    font-size: 1.3rem;
    text-align: center;
    word-spacing: 0.2rem;
  
}

.inazuma-map1{
    background-image: url(assets/Explore/2021071619023818196.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
  
}
.inazuma-map1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.inazuma-map2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.inazuma-map2{
    background-image: url(assets/Explore/2021071920211156611.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;

}
.scroll-container{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}


/* Footer */
.about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
  
.link-sosmed{
    background-color: #111;
    display: flex;
    padding-left: 7vw;
}
  
.link-sosmed .icon{
    padding: 0.4vh 1vw;
    display: flex;
    gap: 2vw;
}
.link-sosmed .icon a{
    color: grey;
    text-decoration: none;
    font-size: 2rem;
    transition: 200ms;
    
}
 
.link-sosmed .icon a:hover {
    color: white;
    transition: 200ms;
}
  
.about-info{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap : 1.5vw;
}
  
.about-info .logo img{
    margin-top: 7vh;
}
  
.about-info .link-PTAC {
    width: 100%;
    height: auto;
}
  
.link-PTAC ul{
    display: flex;
    gap: 4vw;
    justify-content: center;
}
  
.link-PTAC ul li a{
    font-size: 0.8rem;
    font-family: Tahoma;
    color: gray;
    list-style: none;
    transition: 300ms;
}
.link-PTAC ul li a:hover{
    font-size: 0.8rem;
    font-family: Tahoma;
    color: white;
    list-style: none;
    transition: 300ms;
}
  
.teen-tag{
    display: flex;
    justify-content: center;
    width: 100%;
}
 
.teen-tag img{
    width: 10%;
    height: 10%;
  }
  
.about-info .about-lisence{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.about-info .about-lisence p{
    color: gray;
    font-size: 0.8rem;
}
  
.hoyoverse{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
  
.hoyoverse img{
    width: 20%;
    height: 20%;
}
  
.copyright{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 3vw;
}
  
.copyright p{
    font-size: 0.8rem;
    color: gray;
}  